/** Add css rules here for your application. */
.menu-bar-symbol {
	cursor : pointer;
	margin-top : -3px;
}

.app-frame {
	border : 0;	
	background : white;
}

.main-app-label { 
        margin-top : -2px; 
}

.main-app-label-text { 
        font-size: 16px; font-weight: bold; margin-left: 5px; margin-right: 5px;
}

.login-form-panel {
    margin-left : 40px;
    margin-top : 7px;
    width : 320px;
}

.user-name-label {
    font-weight : bold;
    font-size : 13px; 
    margin-top : 1px;
    margin-right : 5px;
}

.login-button-bar {
  margin-left: 5px;
  padding : 0;
}

.login-status {
  margin-left: -13px;
}

.logo-icon {
	background-image: url("../images/skreeneo_logo_icon.png")!important;
}

.help-icon {
	background-image: url("../images/help.png")!important;
}

.logout-icon {
	background-image: url("../images/door_out.png")!important;
}

.login-header {
    height: 6px;     
}